//https://www.happyhues.co/palettes/13
$primary: #ff5400;
$primary-hover: #ff8906;

$text-primary: #fff;
$text-secondary: #909090;

$border-primary: #3d3d3d;
$border-secondary: #474747;

//Elements
$background: #0f0e17;
$headline: #fffffe;
$paragraph: #a7a9be;
$button: #ff8906;
$button-text: #fffffe;
$button-text-dark: #0f0e17;

//Ilustration
$stroke: black;
$main: #fffffe;
$highlight: #ff8906;
$secondary: #f25f4c;
$tertiary: #e53170;

$background-primary: #272727;
$background-white: #fff;

$background-secondary: #1d1d1d;
$background-tertiary: #101010;
$background-quaternary: #3d3d3d;
$background-quaternary__blur: #3d3d3d10;

$background-dark: #282c34;
$background-light: #f2f4f6;

$success: #69af00;
$danger: #ff0a4e;
