@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Exo:wght@300;400;500&family=Oxygen&display=swap');

.title, h1,
h2{
    font-family: 'Assistant', sans-serif !important; 
}

h3,
h4{
    font-family: 'Exo', sans-serif !important;
}

h5,p{
    font-family: 'Oxygen', sans-serif !important;
}